* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --dark-red: #ec5757;
  --pale-red: rgb(255, 151, 151);
  --light-white: #f8f8fb;
}
body {
  font-family: "League Spartan", sans-serif;
}
